/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 11, 2025, 2:40:17 PM
    Author     : LE TUNG
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 11, 2025, 1:04:20 PM
    Author     : LE TUNG
*/

.Main{
    -fx-background-color: #121212;
    -fx-padding : 10;
    -fx-alignment : CENTER;
    -fx-spacing : 10;
}

.Subject{
    -fx-font-size : 40;
    -fx-font-weight : bold;
    -fx-fill :#FFFFFF;
    -fx-stroke:gold;
    -fx-stroke-width : 3;
}

.Button {
    -fx-background-color : #333333;
    -fx-text-fill :#FFFFFF;
    -fx-pref-width :200;
    -fx-padding : 5;
    -fx-font-size : 16;
}